<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Resource style -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
  	
	<title>500</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content bouncy">
		<h1>500</h1>
		<p>Something wrong happened!</p>
	</div>
</section>
	
<script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script> <!-- Resource jQuery -->
</body>
</html>
