<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Resource style -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
  	
	<title>Gender Recognition by Voice</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content parallax">
		<h1>
			<span data-content="Test the gender of your voice!">Test the gender of your voice!</span>
		</h1>
		<p>
			<span data-content="Upload a voice File < 2M">Upload a voice File < 2M</span>
		</p>
		
		<form action="" method=post enctype=multipart/form-data>
		    <input 
		    style = " width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;"
		    type="file" name="file" id="file" class="inputfile" />
            <label
             class="cd-btn main-action"
             for="file">Choose a file</label>
            <input class="cd-btn" type=submit value=Upload />
        </form>        
				
	</div>
	
</section>
	
<script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script> <!-- Resource jQuery -->
</body>
</html>
